body {
        background-color: #333;
        color: #fff
}

#header {
        display: flex;
        flex-direction: row;
}

#header > * {
        margin-right: 20px;
}

#header > a {
        color: #fff;
}

#container {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
}

#program_display {
        display: flex;
        flex-direction: row;
}

#program_display > * {
        display: flex;
        flex-direction: column;
        margin-right: 1vw;
        font-family: monospace;
        min-width: fit-content;
        max-width: 25vw;
        text-wrap: nowrap;
}

#memory_display {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}

#memory_display > * {
        margin-right: 1vw;
        margin-bottom: 1vw;
}

#large_memory {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}


#large_memory > * {
        margin-bottom: 1vw;
        margin-right: 1vw;
}

#memory_display td {
        font-family: monospace;
        text-wrap: nowrap;
}

.highlight{
        display: inline-block;
        padding: .25em 0;
        background: #ff0;
        color: #000;
}

table, th, td {
        border: 1px solid;
}

th, td {
        padding: 5px;
}

tr.report_color > th {
        background-color: #eeece1;
}

th {
        background-color: rgba(255,255,255,0.1);
}