<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
        <div id="header">
                <a href="/edit">Back to editor</a>
                <a href="/run">Reset</a>

                <form action="/run" method="post">
                        <label for="continue_run">Step until halt?</label>
                        <input type="checkbox" name="continue_run" {{ ctx["continue_run"] }}> <!--gotta get this working--> 
                        <input type="submit" value="Step!">
                </form>

                <div id="cycle">Cycle: {{ ctx["processor"].cycle }}</div>
        </div>

        <div id="container">
                <div id="program_display">
                        <div id="text">
                                <!--show formatted text lines, highlight current-->
                                {{ ctx["formatted_text"] | safe }}
                        </div>

                        <div id="binary">
                                <!--show hex/binary lines, highlight current-->
                                {{ ctx["formatted_binary"] | safe }}
                        </div>
                </div>

                <div id="memory_display">
                        <div id="registers">Registers: {{ ctx["processor"].register_file }}</div>
                        <div id="text_memory">{{ ctx["processor"].text_memory }}</div>
                        <div id="data_memory">{{ ctx["processor"].data_memory }}</div>
                </div>
        </div>
</body>